body{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.head-h{
    font-family:sans-serif;
    color: #131218;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
   
    margin-right: 100px;
}

span{
    font-family:sans-serif;
    color: rgb(36, 122, 192);
    font-weight: bold;
    font-size: 25px;
}
nav{
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    position: relative;
    align-items: center;
    height:55px ;
    background-color:#FFFFFF ;
    padding: 0px 10%;
}
nav ul{
    display: flex;
}

nav ul li a{
    margin: 35px;
    font-family: lato;
    color: #0c7cc7;
    font-size: 20px;
    font-weight: 800;
}
ul{
    list-style: none;
}
a
{
    text-decoration: none;
    

}
.section-one{
    display: flex;
    margin-bottom: 0px;

}
.div-one{
    width: 50%;
    padding: 10%;
    font-weight: 500;

}
.div-one img{
    width: 110%;
    height: 450px;
    
  
}
h1{
    font-size: 38px;
    font-weight: 800;
}
h2{
    font-size: 35px;
    font-weight: 500;
    padding-left: 10px;
    margin-left: 5%;
}
.colour-one{
    color: #0c7cc7;
 font-size: 40px;
}
.order-btn{
text-decoration: none;
background-image: linear-gradient(black, #0c7cc7);
border-radius: 25px;
padding: 10px 40px;
color: whitesmoke;
transition: 3s;
font-weight: 800;

}

#about-img-area{
    width: 50%;
    height: 114%;
    border-radius:20%;
    padding-left: 20%;
}

.about-section{
    background-position:right;
    
}
#about-area{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
}

#about-img-area{
    width: 65%;
    height: 138%;
    border-radius:20%;
    padding-left: 25%;


}
.about-text-area{
    margin-right: 10%;
}
.contact-btn{
    text-decoration: none;
    background-image: linear-gradient(black, #0c7cc7);
    border-radius: 25px;
    padding: 10px 40px;
    color: whitesmoke;
    transition: 3s;
    font-weight: 800;
     
}
#my-recepies{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.recepi-container{
    
    background-repeat: no-repeat;
    background-position: left;
}
.box-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}
.Repepi-menia{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-image-slice: 1;
    box-shadow: 5px 5px 30px rgb(52, 178, 228);
    border-radius: 5%;
   
}

   


.flex-recepi{
    display: flex;
    margin-bottom: 150px;
}

    .food-resize{
        width: 95%;
        height: 210px;
        border-radius: 10px;
        margin : 5px;
        padding-top: 12px;
        border-radius: 6%;
        padding-right: -25px;
    

       
    }
    footer {
        text-align: center;
            color : whitesmoke;
            background-image: linear-gradient(#0a2b41 , rgb(22, 115, 190));
            width: 100%;
            height: 170px;
            
            padding-bottom: 20px;

    }
    .text-search{
        font-size: 42px;
        margin-left: 80px;
        border-radius: 10px;
        background-image: linear-gradient(rgb(204, 204, 204), #6991ac);
        color: rgb(20, 18, 18);
        
    }
    .order-food{
       
        padding-top: 14px;
        
        margin-left: 120px;
        font-size: 25px;
        text-align: center;
        
        

    }
    #footer-one{
        color: rgb(238, 30, 15);
        
    }
    #footer-two{
        color: rgb(81, 177, 25);
    }